<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7iDzztSoEIZxYQJRszxN0ITPtdF8P3LI</string>
	<key>GCM_SENDER_ID</key>
	<string>375245301225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synopseai.synopse</string>
	<key>PROJECT_ID</key>
	<string>synopse-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>synopse-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375245301225:ios:179bc3374ab59bf5269778</string>
</dict>
</plist>